/*
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/led/led.h>

&spi3 {
	/* Workaround to support WS2812 driver */
	line-idle-low;

	led_strip: ws2812@0 {
			compatible = "worldsemi,ws2812-spi";

			/* SPI */
			reg = <0>; /* ignored, but necessary for SPI bindings */
			spi-max-frequency = <6400000>;

			/* WS2812 */
			chain-length = <1>; /* arbitrary; change at will */
			spi-cpha;
			spi-one-frame = <0xf0>; /* 11110000: 625 ns high and 625 ns low */
			spi-zero-frame = <0xc0>; /* 11000000: 312.5 ns high and 937.5 ns low */
			color-mapping = <LED_COLOR_ID_GREEN
								LED_COLOR_ID_RED
								LED_COLOR_ID_BLUE>;
	};
};

&spi2 {
	status = "okay";
	compatible = "espressif,esp32-spi";
	pinctrl-0 = <&spim2_default>;

	pinctrl-names = "default";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;


	ra8875: ra8875@0 {
		compatible = "worldsemi,ra8875";
		status = "okay";
        spi-max-frequency = <4000000>;
        reg = <0>;
        width = <800>;
        height = <480>;
		rotation = <0>;
        // bl-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
        // dc-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	spim3_default: spim3_default {
		group2 {
			pinmux = <SPIM3_MOSI_GPIO48>;
		};
	};
};

/ {     
        zephyr,user {
        io-channels =
                <&adc0 0>,
                <&adc1 0>;
        };

        aliases {
                led-strip = &led_strip;
				ra8875-rs = &ra8875_rs;
        };

		buttons {
			compatible = "gpio-keys";
			status = "okay";
			button0: button_0 {
				gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
				label = "BOOT Button";
				zephyr,code = <INPUT_KEY_0>;
			};
		};

		gpio_keys {
			compatible = "gpio-keys";
			status = "okay";
			ra8875_rs: ra8875_14 {
				gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
				label = "RA8875 CS";
			};
		};
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&adc1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

